body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

main {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.checkout-left, .checkout-right {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkout-left {
    flex: 3;
}

.checkout-right {
    flex: 1;
}

h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.input-row {
    display: flex;
    gap: 10px;
}

.product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.summary, .total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.order-button{
    
    height: 50px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 20px;
    
}